body{
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
	color: #0A0707;
	background-color: #F8F3F4;
	min-width: 800px;
	min-height: 600px;
}


a:link {
    text-decoration: none;
    color: #0A0707;
}

a:visited {
    text-decoration: none;
    color: #0A0707;
}

a:hover {
    text-decoration: none;
    color: #0A0707;
}

a:active {
    text-decoration: none;
    color: #0A0707;
}

.curtain{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: black;
}

.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	background-color: #F8F3F4;
	z-index: 1;
}

.footer{
	position: absolute;

	height: 2em;
	background-color: #F8F3F4;
	text-align: right;
	font-size: 0.5em;
	width: 200px;
	right: 32px;
	bottom: 2em;
	color: #0A0707;
}

.navigator{
	position: fixed;
	z-index: 1;
	left: 300px;
	right: 0;
	top: 0;
	height: 2em;
	background-color: #F8F3F4;
}

.contentContainer{
	position: absolute;
	left: 300px;
	right: 0;
	top: 2em;
	overflow: scroll;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #F8F3F4;	
}

.contentContainer p{
	font-size: 1em;
	color: #615C5D;
}

.contentContainer h1{
	color: #BF5800;
}

.contentContainer h2, h3{
	color: #FF8C29;
}

.contentContainer a{
    text-decoration: none;
    color: #FF8C29;
}

.portrait{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%; 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	
	top: 20%;
	right: 28px;
	bottom: 50%;
	background-color: yellow;
}

.nametag{
	position: absolute;
	text-align: right;
	width: 200px;
	font-size: 0.8em;
	top: calc(20% + 240px);
	right: 32px;
	color: #0A0707;
	font-weight: bold;
}

.navBlock{
	margin-left: 1%;
	padding: 0;
	border: 0;
	display: inline-block;
	width: 18%;
	height: 100%;
	background-color: #C0B7B8;
	text-align: center;
	font-size: 1em;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: 0.5s;
}

.navBlock:hover{
	background-color: #FFAC64;
}

.navBlock:active{
	background-color: #C0B7B8;
}

.label{
  position: relative;
  top: -30%;
}

